.slider {
    width: 80%;
    margin: 0 auto;

  }

  .slick-slide {
    padding: 0 5px;
  }

  .card {
    width: 80%;
    height: 235px;
    background-color: #f2f2f2;
    border-radius: 5px;
    background-color: #021530;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    
    
  }

  .card:last-child {
    margin-right: 0; /* Remove the margin-right for the last card */
  }

  .card .image-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    border: 5px solid black;

  }
  .image-card img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
  }


  .card .details-card{
     height: 35%;
     border: 2px solid red;
  }